ul{ 
    list-style-type: none; 
    padding: 0px;
    list-style-type: none;
}

#highscore-list {
    line-height: 55px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: gray;
}

li {
    list-style-type: none;
    font-size: 1rem;
}

button {
    margin: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-color: red;
}

.container {
    text-align: center;
    padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0
}

h1 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#response {
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: thin;
    padding: 15px;
    color: gray;
}

#high-scores {
    clear: both;
}

#time-remaining {
    padding: 1rem;
    font-weight: bold;
    font-size: 18px;
}

#view-score {
    padding: 1rem;
    color: blue;
    font-size: 18px;
}
#final-score {
    padding: 1rem;
    font-weight: bold;
}

#final-text {
    padding: 1rem;
}

#input-form {
    padding: 1rem;
}