ul{ 
    list-style-type: none; 
    padding: 0px;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.container {
    text-align: center;
    padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0
}