ul{ 
    list-style-type: none; 
    padding: 0px;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.container {
    text-align: center;
    padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0
}

h1 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#response {
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: thin;
    padding: 15px;
    color: gray;
}

#high-scores {
    clear: both;
}
